<h1>Welcome To The Lounge, Please Ask the Bartender For Your Drink</h1>
<form action="/cocktails" method="GET">
  <input type="text" name="search_name" >
  <input type="submit" value="Search Cocktails">
</form>
