<div class=banner>
<div class="h-100 row align-items-center">
   <div class="col" style="background:brown">
        <h1 class="fw-light">Welcome To the Lounge</h1>
        <%if current_user %>
        <p class="lead text-muted">Please come in and enjoy yourself.</p>
        <button type="button" class="btn btn-primary btn-lg""><%=link_to "Enter The Lounge", cocktails_path%></button>

          <%else%>
          <p class="lead text-muted">Please signup or login!!</p>
          <%=link_to "Signup", new_user_path%>
          <br>
          <%=link_to "Login", login_path%>
          <%end%>

      </div>
  </div>
</div>
